<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="css/riepilogo.css" rel="stylesheet" media="screen" />
<meta charset="ISO-8859-1">

<style>
form{ text-align: center; margin-top: 400px;}
span{ margin: 10px;}
div{ text-align: center;}
body{ text-align: center;}

</style>
<title>Inserimento Opera</title>
</head>

<body>
	<form class="form-horizontal" action="#" th:action="@{/opera}" 
		th:object="${opera}" method="post">
		<input type="hidden" th:field="*{id}" />
		<fieldset>
			<div class="form-group">
   				<label for="titolo" class="col-sm-2 col-lg-2 control-label">Titolo</label>
  				<div class="col-sm-5 col-lg-2">
  					<input type="text" class="form-control" id="titolo" 
  						placeholder="Inserisci il titolo..." th:field="*{titolo}"/>
   				</div>
   				<div>
   					<span th:if="${#fields.hasErrors('titolo')}"
						th:text="#{label.obbligatorio}">Error
					</span>
				</div>		
   			</div>
   				
   			<div class="form-group">
   				<label for="anno" class="col-sm-2 col-lg-2 control-label">Anno</label>
   				<div class="col-sm-5 col-lg-2">
   					<p>	<input type="number" class="form-control" id="anno" 
   						placeholder="Inserisci l'anno..." th:field="*{anno}"/>
   						</div>
   						<div>
   							<span th:if="${#fields.hasErrors('anno')}"
								  th:text="#{label.obbligatorio}">Error
							</span>
					</p>
						
   			</div>
   				
   			<div class="form-group">
   				<label for="tecnica" class="col-sm-2 col-lg-2 control-label">Tecnica</label>
   				<div class="col-sm-5 col-lg-2">
   					<input type="text" class="form-control" id="tecnica" 
 						placeholder="Inserisci la tecnica..." th:field="*{tecnica}"/>
				</div>
   			</div>
   				
   			<div class="form-group">
   				<label for="lunghezza" class="col-sm-2 col-lg-2 control-label">Lunghezza</label>
   				<div class="col-sm-5 col-lg-2">
   					<input type="text" class="form-control" id="lunghezza" 
   						placeholder="Inserisci la lunghezza..." th:field="*{lunghezza}"/>
   				</div>
   			</div>
   	
   			<div class="form-group">
   				<label for="larghezza" class="col-sm-2 col-lg-2 control-label">Larghezza</label>
   				<div class="col-sm-5 col-lg-2">
   					<input type="text" class="form-control" id="larghezza" 
   						placeholder="Inserisci la larghezza..." th:field="*{larghezza}"/>
   				</div>
   			</div>
   			
   			<div class="form-group">
   				<label for="sito" class="col-sm-2 col-lg-2 control-label">Sito</label>
   				<div class="col-sm-5 col-lg-2">
   					<input type="text" class="form-control" id="sito" 
   						placeholder="Inserisci il sito..." th:field="*{sito}"/>
   				</div>
   			</div>
   				
   			<div class="form-group">
   				<label for="autore" class="col-sm-2 col-lg-2 control-label">Autore</label>
   				<div class="col-sm-5 col-lg-2">
   					<input type="text" class="form-control" id="autore" 
   						placeholder="Inserisci l'autore..." th:field="*{autore}"/>
   				</div>
   				<div>
   					<span th:if="${#fields.hasErrors('autore')}"
							th:text="#{label.obbligatorio}">Error
					</span>
				</div>		
   			</div>
   			
   			<div class="form-group">
   				<div class="col-sm-2 col-lg-2 col-sm-offset-2">
   					<button type="submit" class="btn btn-default">Invia</button>
   				</div>
   			</div>
 		</fieldset>
	</form>
   	
   	<a href="/">Torna all'Homepage</a>

</body>
</html>




<!-- 

<body>
	<form action="#" th:action="@{/opera}" th:object="${opera}"
		method="post">
		<input type="hidden" th:field="*{id}" />
		<div>
			<div>
				<span th:text="#{label.titolo}">Titolo: </span> <span><input
					type="text" th:field="*{titolo}" /></span> <span
					th:if="${#fields.hasErrors('titolo')}"
					th:text="#{label.obbligatorio}">Error</span>
			</div>
			<div>
				<span th:text="#{label.anno}">Anno: </span> <span><input
					type="number" th:field="*{anno}" /></span> <span
					th:if="${#fields.hasErrors('anno')}" th:text="#{label.numero}">Error</span>
			</div>
			<div>
				<span th:text="#{label.tecnica}">Tecnica: </span> <span><input
					type="text" th:field="*{tecnica}" /></span>
			</div>
			<div>
				<span th:text="#{label.lunghezza}">Lunghezza: </span> <span><input
					type="number" th:field="*{lunghezza}" /></span> <span
					th:if="${#fields.hasErrors('lunghezza')}" th:text="#{label.numero}"></span>
			</div>
			<div>
				<span th:text="#{label.larghezza}">Larghezza: </span> <span><input
					type="number" th:field="*{larghezza}" /></span> <span
					th:if="${#fields.hasErrors('larghezza')}" th:text="#{label.numero}"></span>
			</div>
			<div>
				<span th:text="#{label.sito}">Sito: </span> <span><input
					type="text" th:field="*{sito}" /></span> <span
					th:if="${#fields.hasErrors('sito')}" th:text="#{label.sito}"></span>
			</div>
			<div>
				<span th:text="#{label.autore}">Autore: </span> <span><input
					type="text" th:field="*{autore}" /></span> <span
					th:if="${#fields.hasErrors('autore')}"
					th:text="#{label.obbligatorio}">Error</span>
			</div>
			<div>
				<span><button type="submit">Invia</button></span>
			</div>
			<div>
				<a href="/">Torna all'Homepage</a>
			</div>
		</div>
	</form>
</body>
</html>


-->