<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
		<link href="css/riepilogo.css" rel="stylesheet" media="screen" />
		<link href="css/login.css" rel="stylesheet" media="screen"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
		<script> src="js/login.js" </script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta charset="ISO-8859-1">
	</head>
		
	<body>
		<!-- Where all the magic happens -->
		<!-- LOGIN FORM -->
		<div class="text-center" style="padding:50px 0">
			<div class="logo">Login</div>
			<!-- Main Form -->
			<div class="login-form-1">
				<form id="login-form" class="text-left"
					name="f" th:action="@{/login}" method="post">
					<div class="login-form-main-message"></div>
						<div class="main-login-form">
							<div class="login-group">
								<div class="form-group">
								
									<div th:if="${param.error}" class="alert alert-error">
									Username o password non validi.
									</div>
									<div th:if="${param.logout}" class="alert alert-success">
									Sei stato disconnesso.
									</div>
									
									<label for="username" class="sr-only">Username</label>
									<input type="text" class="form-control" id="username" name="username" placeholder="username">
								</div>
								<div class="form-group">
									<label for="password" class="sr-only">Password</label>
									<input type="password" class="form-control" id="password" name="password" placeholder="password">
								</div>
								<div class="form-group login-group-checkbox">
									<input type="checkbox" id="remember" name="remember">
									<label for="remember">Ricordami</label>
								</div>
							</div>
							<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
						</div>
				<!-- 		<div sec:authorize="isAuthenticated"> -->
			
						<div class="etc-login-form">
							<p>Hai dimenticato la password? <a href="#">clicca qui</a></p>
							<p>Sei un nuovo utente? <a href="#">Crea un nuovo account!</a></p>
						</div>
					</div>		
				</form>
			</div>
		</div>
	</body>
</html>